.dataTables_scrollBody {
  max-height: 100% !important;
}

.title {
  font-size: 2rem;
}

.packages-table {
  margin-top: 1.1rem;
  font-size: 1.75rem;
  border: 1px solid hsl(213, 33%, 93%);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.header {
  background-color: hsl(213, 45%, 97%);
  border-bottom-color: hsl(213, 33%, 93%);
  border-bottom-width: 1px;
  color: hsl(213, 13%, 33%);
}

.header[aria-sort]:hover {
  color: hsl(213, 55%, 50%);
}

.package-detail {
  padding: 24px;
  box-shadow: inset 0 1px 3px #dbdbdb;
  background: hsl(213, 20%, 99%);
}

.detail-label {
  margin: 2.25rem 0 0.25rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.6);
}

.detail-header {
  margin-bottom: 1.1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.detail-title {
  margin-left: 1.1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.detail-description {
  font-size: 1.25rem;
}

#text {
  font-size: 1.1rem;
}